/*
  COLORES:
  * GREEN-LIGHT: #D4E9E2
  * GREEN: #00754A
  * GREEN-DARK: #006241
  * DARK: #1E3932
  * GRAY: #F2F0EB
  * WHITE: #F9F9F9
*/

/* ESTA ES LA PARTE DE EMERZON */
html {
  scroll-behavior: smooth;
}

/* ? HERO */
.hero {
  /* padding-top: 5vh; */
  background-color: #d4e9e2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__image {
  margin-top: 60px;
  width: 620px;
  animation-name: imageAnimation;
  animation-duration: 1.2s;
}

.hero__title {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: white;
  position: absolute;
  animation-duration: 1.8s;
  text-shadow: 0 2px 8px #00754a73;
}

.hero__title--1 {
  top: 40%;
  animation-name: titlept1;
}

.hero__title--2 {
  top: 52%;
  animation-name: titlept2;
}

.hero__title--3 {
  top: 65%;
  animation-name: titlept3;
}

/* ESTA ES LA PARTE DE GLADYS */

.pack1 {
  display: flex;
  justify-content: center;
}

.pack1__imagen {
  margin: 30px 0;
}

.pack {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 35px 0;
}

.pack--pack2 {
  background-color: #f2f0eb;
}

.pack2__titulo--pack3 {
  font-size: 80px;
}

.pack__titulo {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
}

.pack__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.pack__contenedor-desayuno {
  text-align: center;
}

.pack__contenedor-desayuno-imagen {
  width: 300px;
}

.pack__contenedor-desayuno-parrafo {
  margin: 0;
  font-family: "Montserrat", sans-serifa;
  font-size: 28px;
  font-weight: 300;
}
