.mission {
  width: 70%;
  margin: auto;
  padding: 80px 0 30px 0;
}

.mini-nav {
  display: flex;
  flex-direction: row;
}

.mini-nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #212529;
  font-family: "Monteserrat", sans-serif;
  font-size: 11pt;
}

.mini-nav p {
  color: #212529;
  font-family: "Monteserrat", sans-serif;
  font-size: 11pt;
}

.title {
  font-size: 24pt;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #212529;
  margin: 30px 0;
}

.mission-cuadro {
  text-align: center;
  font-size: 20pt;
  font-family: "Monteserrat", sans-serif;
  font-weight: 600;
  background-color: #dee2e6;
  padding: 10px 10px;
  border: 2px solid #212529;
}

.mission-cuadro p {
  color: #00754a;
}

.mission-content p {
  font-family: "Monteserrat", sans-serif;
  margin: 20px 0;
  line-height: 25px;
  font-size: 12pt;
  text-align: justify;
}

.mission-content h3 {
  font-family: "Monteserrat", sans-serif;
  font-size: 12pt;
}

.mission-content img {
  display: block;
  width: 70%;
  margin: 0px auto;
  border: 2px solid #212529;
}

@media screen and (max-width: 500px) {
  .mission {
    width: 90%;
    margin: auto;
    padding: 10vh 0 20px 0;
  }

  .mission-content img {
    width: 95%;
  }
}
