.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(126, 126, 126, 0.363);
  z-index: 400;
}

.navbar-active {
  display: flex;
}

.navbar__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar__logo {
  width: 55px;
}

.navbar__search-container {
  position: relative;
}

.navbar__search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  color: gray;
}

.navbar__search {
  padding: 10px;
  padding-left: 35px;
  padding-right: 12px;
  font-family: 'Rubik', sans-serif;
  width: 300px;
  outline: none;
  background-color: #f1f1f1;
  border: 1px solid rgba(173, 173, 173, 0.459);
  border-radius: 5px;
}

.navbar__search::placeholder {
  color: gray;
}

.navbar__links-icon {
  display: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #00754a;
  color: white;
  font-size: 22px;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 15px;
}

.navbar__links li {
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.navbar__link:hover {
  color: #00754a;
  border-bottom: 2px solid #00754a;
}

.navbar__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar__auth--link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  padding: 10px 12px;
  border-radius: 6px;
  color: white;
  transition: background-color 0.3s;
}

.navbar__auth--login {
  background-color: #00b874;
}

.navbar__auth--register {
  background-color: #c2c0c0;
}

.navbar__auth--login:hover,
.navbar__auth--register:hover {
  background-color: #00754a;
}

.navbar__auth--logout {
  border: none;
  background-color: rgb(235, 0, 0);
  cursor: pointer;
}

.navbar__auth--logout:hover {
  background-color: rgb(255, 32, 32);
}

.auth-activate {
  display: none;
}

.logout-activate {
  display: none;
}

.navbar__link-logout {
  background-color: rgb(235, 0, 0);
}

.navbar__link-logout:hover {
  background-color: rgb(255, 32, 32);
}

@media screen and (max-width: 1300px) {
  .navbar__search {
    display: none;
  }

  .navbar__search-icon {
    display: none;
  }

  .navbar__links {
    justify-content: space-between;
  }

  .navbar__auth {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar__links {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #00754a;
    top: 7vh;
    left: 0;
    width: 100%;
    z-index: 400;
    gap: 6px;
  }

  .navbar__links li {
    margin-left: 0px;
    padding: 10px;
    text-align: center;
  }

  .navbar__link {
    color: white;
    padding: 10px 20px;
  }

  .auth-activate {
    display: block;
  }

  .logout-activate {
    display: block;
  }

  .navbar__link:hover {
    border: none;
    color: white;
  }

  .navbar__links-icon {
    display: inline-block;
  }

  .navbar__search {
    width: 75%;
    display: flex;
  }

  .navbar__search-icon {
    display: inline-block;
  }
}
