.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(126, 126, 126, 0.363);
  z-index: 100;
}

.navbar__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  width: 55px;
  margin-right: 15px;
}

.navbar__search-container {
  position: relative;
}

.navbar__search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  color: gray;
}

.navbar__search {
  padding: 10px;
  padding-left: 35px;
  padding-right: 12px;
  font-family: "Rubik", sans-serif;
  width: 300px;
  outline: none;
  background-color: #f1f1f1;
  border: 1px solid rgba(173, 173, 173, 0.459);
  border-radius: 5px;
}

.navbar__search::placeholder {
  color: gray;
}

.navbar__links-icon {
  display: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #00754a;
  color: white;
  margin-left: 10px;
  font-size: 22px;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navbar__links li {
  list-style: none;
  margin-left: 15px;
}

.navbar__link {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.navbar__link:hover {
  color: #00754a;
  border-bottom: 2px solid #00754a;
}

@media screen and (max-width: 1000px) {
  .navbar__search {
    display: none;
  }

  .navbar__search-icon {
    display: none;
  }

  .navbar__links {
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .navbar__links {
    display: inline-block;
    /* display: none; */
    position: absolute;
    flex-direction: column;
    background-color: #00754a;
    top: 7vh;
    left: 0;
    width: 100%;
  }

  .navbar__links li {
    margin-left: 0px;
    padding: 10px;
    text-align: center;
  }

  .navbar__link {
    color: white;
    padding: 10px 20px;
  }

  .navbar__link:hover {
    border: none;
    color: white;
  }

  .navbar__links-icon {
    display: inline-block;
  }

  .navbar__search {
    width: 75%;
    display: flex;
  }

  .navbar__search-icon {
    display: flex;
  }
}
