main {
    width: 70%;
    margin: auto;
    padding: 100px 0 50px 0;
}

main h2 {
    font-size: 24pt;
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: #212529;
    margin: 50px 20px;
}

main h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
}

main p {
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
    font-weight: 550;
    text-align: justify;
    color: gray;
}

main li {
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
    font-weight: 550;
    text-align: justify;
    color: gray;
}